html {
    width: 100vw;
    height: 100vh;

    background-image: url("./fotos/fondo.jpg");
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;
}

.titulo {
    display: inline-block;
    position: relative;
    justify-content: center;
    margin-left: 35%;
    border-radius: 20px;
    background-color: hotpink;

}

.contenedor-principal {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}

.divcontenedor {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 50px;
}

.imagenbase {
    width: 200px;
    height: 290px;
    border-radius: 10px;
    border: solid 2px plum;
}

.textoaudio {
    width: 80px;
    font-size: 14px;
    align-self: flex-end;
}

.audiobarra {
    width: 150px;
    height: 20px;
    align-items: center;
}